@charset "UTF-8";

@import url('global.css');

header {
    position: relative;
    background-image: none;
    box-shadow: 0px 1px 3px #00000052;
    padding: 5px;
}

header > div {
    display: inline-block;
    width: 200px;
    padding: 2px 5px;
}

header h1 {
    font-size: 1.3em;
    padding: 2px 5px;
    margin-bottom: 2px;
}

header h1::after {
    content: "";
    display: block;
    height: 1px;
    background-color: black;
}

header h2 {
    background-image: linear-gradient(90deg, var(--cor3), transparent);
    font-size: 1em;
    padding: 2px 5px;
    border-radius: 15px;
    margin-top: 2px;
}

header #menu-icon {
    display: inline-block;
    position: absolute;
    top: 13px;
    right: 10px;
    font-size: 1.8em;
    cursor: pointer;
    padding: 6px;
    border-radius: 7px;
}

header #menu-icon:hover {
    background-color: #00000031;
    outline: 2px solid black;
}

header #menu-icon.clicked {
    background-color: black;
    color: white;
}

header > nav {
    display: none;
    position: absolute;
    z-index: 2;
    top: 60px;
    right: 10px;
    background-color: #000000e3;
    width: 200px;
    padding: 8px 15px 15px 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 1px #00000052;
    font-size: .9em;
    text-align: right;
}

header ul {
    list-style-type: none;
}

header li::after {
    content: "";
    display: block;
    height: 1px;
    background-color: white;
}

header a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 10px;
    border-radius: 20px;
    margin: 13px 0px;
}

header a:hover {
    font-size: 1.1em;
    background-color: #ffffffc0;
    color: black;
    margin: 17px 0px;
    transition: all .4s;
}

header a:hover::after {
    content: " <";
}