@charset "UTF-8";

@import url('global.css');

main {
    padding: 20px;
}

main > article {
    position: relative;
    padding: 25px 15px;
    border-radius: 5px;
    margin: 20px 0px;
    box-shadow: 0px 0px 2px 1px #0000004f;
}

article > h3 {
    display: inline-block;
}

article > a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    background-color: var(--cor2);
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: .9em;
    width: 70px;
    padding: 5px;
    border-radius: 7px;
    box-shadow: 0px 0px 2px 1px #0000004f;
}

article > a:hover {
    background-color: var(--cor3);
    transform: translateY(-65%);
    box-shadow: 0px -1px 2px #0000004f;
    transition: all .1s ease-in;
}

article > a:active {
    transform: translateY(-45%);
    box-shadow: inset 0px -1px 2px #0000004f;
}

@media screen and (min-width: 992px) {
    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    article {
        min-width: 450px;
    }
}