@charset "UTF-8";

@media screen and (min-width: 768px) { /* Configuração para tablets */
    header #menu-icon {
        display: none;
        position: relative;
    }

    header > nav {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        background-color: transparent;
        width: max-content;
        padding: 0px;
        margin: 0px;
        border-radius: 0px;
    }

    nav li {
        display: inline-block;
        text-align: center;
    }

    nav li::after {
        display: none;
    }

    nav a {
        background-color: black;
        color: white;
        font-size: .9em;
        width: 150px;
        padding: 9px 10px;
        border-radius: 7px;
        margin: 0px 5px;
    }

    nav a:hover {
        background-color: #00000031;
        outline: 2px solid black;
        margin: 0px 8px;
        font-size: .9em;
        transition: all .3s, outline 0s;
    }

    nav a:hover::after {
        display: none;
    }
}