@charset "UTF-8";

@import url('global.css');

/* 
    Outros dispositivos
*/

@media screen and (min-width: 768px) { /* Configuração para tablets */
    header {
        background-image: url('../imgs/oficina-mobile-2.jpg');
        background-position: right center;
        transition: all .2s;
    }

    header > p {
        margin-bottom: 30px;
    }

    /* header #menu-icon {
        display: none;
    }

    header > nav {
        display: contents;
        position: relative;
        top: -.2em;
        background-color: transparent;
        width: max-content;
        padding: 0px;
        border-radius: 0px;
    }

    header li {
        display: inline-block;
        text-align: center;
    }

    header li::after {
        display: none;
    }

    header a {
        background-color: black;
        color: white;
        width: 150px;
        padding: 5px 10px;
        border-radius: 6px 6px 0px 0px;
        margin: 0px 1px;
    }

    header a:hover{
        background-color: #ffffffdc;
        font-size: 1em;
        transform: translateY(-2px);
        outline: 2px solid black;
        margin: 0px 3px;
        transition: all .4s, outline .2s;
    }

    header a:hover::before {
        display: none;
    } */
}

@media screen and (min-width: 992px) { /* Configuração para desktops e telas grandes */
    header {
        background-image: url('../imgs/oficina-desktop.jpg');
        background-position: right center;
    }

    main > section > article {
        display: inline-block;
        max-width: calc(50vw - 45px);
        border-bottom: 0px;
        border-top: 0px;
        margin: 7px;
    }
}