@charset "UTF-8";

@media screen and (min-width: 768px) {
    header #menu-icon {
        display: none;
    }

    header > nav {
        display: block;
        background-color: transparent;
        width: max-content;
        padding: 0px;
        margin: 0px;
        border-radius: 0px;
        transform: translateX(-10px);
    }

    nav ul {
        flex-direction: row;
        column-gap: 10px;
    }

    nav li {
        text-align: center;
    }

    div.line {
        display: none;
    }

    nav a {
        background-color: black;
        color: white;
        font-size: .8em;
        width: 17vw;
        max-width: 150px;
        padding: 8px;
        border-radius: 7px;
        margin: 0px;
        transition: .2s ease-in-out;
    }

    nav a:hover {
        background-color: #dfdfdf;
        outline: 2px solid black;
    }

    nav a:hover::after {
        display: none;
    }
}