@charset "UTF-8";

@import url('global.css');

header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 3px #00000052;
    padding: 5px;
}

header > div {
    width: 170px;
    padding: 2px 5px;
}

header h1 {
    font-size: 1.3em;
    padding: 2px 5px;
    margin-bottom: 2px;
}

header h1::after {
    content: "";
    display: block;
    height: 1px;
    background-color: black;
}

header h2 {
    background-image: linear-gradient(90deg, var(--cor1), transparent);
    font-size: 1em;
    padding: 2px 5px;
    border-radius: 15px;
    margin-top: 2px;
}

#menu-icon {
    transform: translateX(-15%);
    width: max-content;
    height: max-content;
    cursor: pointer;
    padding: 7px 5px;
    border-radius: 7px;
}

#menu-icon div {
    background-color: black;
    height: 2px;
    width: 22px;
    margin: 5px;
    transition: 0.3s;
}

#menu-icon:hover {
    background-color: #00000031;
    outline: 2px solid black;
}

#menu-icon.active {
    background-color: black;
    color: white;
}

#menu-icon.active div {
    background-color: white;
}

#menu-icon.active .line1 {
    transform: rotate(-45deg) translate(-22%, 250%);
}

#menu-icon.active .line2 {
    opacity: 0;
}

#menu-icon.active .line3 {
    transform: rotate(45deg) translate(-22%, -250%);
}

header > nav {
    display: none;
}

nav.active {
    display: block;
    position: absolute;
    z-index: 2;
    top: 60px;
    right: 10px;
    background-color: #000000e3;
    width: 200px;
    height: 300px;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0px 0px 3px 1px #00000052;
    font-size: .9em;
    text-align: right;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    list-style-type: none;
}

div.line {
    display: block;
    align-self: center;
    background-color: white;
    height: 1px;
    width: 80%;
}

nav a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 8px;
    border-radius: 20px;
    transition: .2s ease-in-out;
}

nav a:hover {
    background-color: white;
    color: black;
}

nav a:hover::after {
    content: " <";
}